{
	"extends": "airbnb",
	"parser": "babel-eslint",
	"rules": {
		"strict": [2, "global"],
		"space-before-function-paren": [2, "never"],
		"indent": [2, "tab"],
		"spaced-comment": 0,
		"react/no-did-update-set-state": 0, // Pu vrai https://fr.reactjs.org/docs/react-component.html#componentdidupdate
		"react/jsx-indent-props": [2, "tab"],
		"react/jsx-indent": [2, "tab"],
		"react/sort-comp": 0,
		"padded-blocks": [0],
		"camelcase": [0],
		"no-nested-ternary": [0],
		"no-unused-vars": [1],
		"no-trailing-spaces": [0],
		"arrow-body-style": [0],
		"newline-per-chained-call": [0],
		"prefer-template": [0],
		"import/no-unresolved": [0],
		"jsx-a11y/img-has-alt": [0],
		"no-return-assign": [0],
		"max-len": [0],
		"global-require": [0],
		"no-console": ["warn", { "allow": ["warn", "error"] }],
		"react/prefer-stateless-function": [0],
		"no-param-reassign": ["error", { "props": false }],
		"no-underscore-dangle": ["error", { "allowAfterThis": true }],
		"consistent-return": ["error", { "treatUndefinedAsUnspecified": true }],
		"no-cond-assign": [2, "except-parens"]
	},
	"ecmaFeatures" : {
		"experimentalObjectRestSpread":true
	}
}
