{
	"extends": "airbnb",
	"parser": "babel-eslint",
	rules: {
		"strict": [2, "global"],
		"space-before-function-paren": [2, "never"],
		"indent": [2, "tab"],
		"spaced-comment": 0,
		"react/jsx-indent-props": [2, "tab"],
		"padded-blocks": [0],
		"camelcase": [0],
		"no-nested-ternary": [0],
		"no-unused-vars": [1],
		"no-trailing-spaces": [0],
	},
	"ecmaFeatures" : {
		"experimentalObjectRestSpread":true
	}
}
