
.bank-image-list-actions, .bank-file-list-actions {
	text-align: right;
	padding: 0 $grid-gutter-width / 2;

	[class|=button] + [class|=button] {
		margin-left: 10px;
	}

	.search-ctn {
		width: 100%;
		margin: 20px 0;

		input {
			border: 1px solid $color-background-main;
			width: 300px;

			&:focus {
				border: 2px solid $color-accent-primary;
			}
		}
	}
}

.bank-image-list, .bank-file-list {
	padding: 0 $grid-gutter-width/2;
	
	.bank-categ {
		margin: 30px 0 20px;
	}

	.root-form {
		background: $color-background-main;
		padding-bottom: 60px;
	}
}



//thumbnail d'un input de bank image (placé dans input type bank_img)
.bank-image-input-thumbnail, .bank-file-input-thumbnail {

	[class|=button] + [class|=button] {
		margin-left: 10px;
	}

	.bank-image-thumbnail, .bank-file-thumbnail {
		display: inline-block;
		margin-right: 20px;
		margin-bottom: 20px;
		width: 300px;
		img {
			max-width: 100%;
			max-height: 300px;
		}

		&.bank-file-thumbnail {
			border: 1px grey solid;
			padding:10px;
		}
	}

	.file-input-generic {

	}

	.bank-image-fromfile-separator{
		margin: 10px 0;
	}
}




//thumbnail dans la liste des images de banque quand on ouvre le popin "select...". Largeur dépend de la grille
.bank-image-list-item, .bank-file-list-item {
	//le thumbnail lui-même (div contenant l'image avec srcset)
	.bank-image-thumbnail {
		width: 100%;
		height: 0;
		margin: 0;
		padding-top: 100%;
		position:relative;
		background-color: $color-background-main;

		img {
			max-width: 100%;
			max-height: 100%;
			position:absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.label, .size, .comments, .filename {
		margin: 10px 0;
	}

	.size, .comments, .filename {
		font-size: 12px;
	}

	[class|=button] + [class|=button] {
		margin-left: 10px;
	}

	&:nth-child(6n+1) {
		clear: left;
	}

	&:nth-child(n+7) {
		margin-top: 50px;
	}
}

