

%base_button {
	margin: 0;
	padding: 0 25px;

	border: none;
	outline: none;
	text-decoration: none;

	cursor: pointer;
	display: inline-block;
	vertical-align: middle;

	background: $color-accent-primary;
	color: $color-text-secondary;

	height: 30px;
	line-height: 30px;

	transition: color 0.3s, background 0.3s;

	i {
		margin-right: 10px;
	}

	&:hover {
		text-decoration: none;
		color: $color-text-secondary;
		background: darken($color-accent-primary, 10%);
	}
}

%round_button {
	border-radius: 15px;
}

%full_width_button {
	display: block;
	width: 100%;
	text-align: center;
}

@mixin button-color-modifier($color) {
	background: $color;

	&:hover {
		background: darken($color, 10%);
	}
}

%warn_button {
	@include button-color-modifier($color-warn-primary);
}

%danger_button {
	@include button-color-modifier($color-danger-primary);
}

%info_button {
	@include button-color-modifier($color-background-dark);
}

%circle_button {
	text-align: center;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 100%;

	padding: 0;

	i {
		margin: 0;
	}

	&[class*=small] {
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
}


[class|=button] {
	@extend %base_button;

	&[class*=-round] {
		@extend %round_button;
	}

	&[class*=-circle] {
		@extend %circle_button;
	}

	&[class*=-warn] {
		@extend %warn_button;
	}

	&[class*=-danger] {
		@extend %danger_button;
	}

	&[class*=-info] {
		@extend %info_button;
	}

	&[class*=fw] {
		@extend %full_width_button;
	}
}