

.shortcuts {
	margin-top: 30px;
	margin-bottom: 30px;

	[class|=button] {
		position:relative;
		margin-right: 10px;
		.nrecords, .flag {
			display:none;
		}
	}
}

.analytics {

	.analytics-section {
		padding: 35px 0 0;

		&:after {
			position: relative;
			content: ' ';
			display: block;
			height: 1px;
			background: $gray76;
			margin-top: 35px;
		}
	}

	.summary-items {
		display: flex;
	}

	.summary-item {
		width: calc(100% / 3);
		padding: 0 15px;

		display: flex;
		align-items: center;

		.number {
			background-color: $color-accent-primary;
			width: 135px;
			height: 135px;

			display: flex;
			flex-wrap: wrap;
			align-items: center;
			align-content: center;

			text-align: center;

			color: $white;
			font-weight: $font-weight-bold;
			font-size: 30px;

			> * {
				flex: 0 0 100%;	
			}
		}

		.infos {
			background-color: $white;
			border: 1px solid $gray86;
			border-left: none;

			padding: 15px 25px;
			text-align: center;
			flex: 1 1 calc(100% - 135px);

			.name {
				font-size: 30px;
			}

			.modifier {
				margin: 5px 0;

				i {
					@include triangle((
						side: 'top',
						width: 8px,
						color: $color-text-primary
					));

					display: inline-block;
					vertical-align: middle;
					margin-right: 10px;
				}

				&.up {
					color: $color-accent-primary;

					i {
						border-bottom-color: $color-accent-primary;
					}
				}

				&.down {
					color: $color-warn-primary;

					i {
						@include triangle((
							side: 'bottom',
							width: 8px,
							color: $color-warn-primary
						));
						border-bottom: none;
						display: inline-block;
					}
				}

				&.danger {
					color: $color-danger-primary;

					i {
						@include triangle((
							side: 'bottom',
							width: 8px,
							color: $color-danger-primary
						));
						border-bottom: none;
						display: inline-block;
					}
				}
			}

			.modifier-period {
				font-size: 12px;
				text-transform: uppercase;

				&.up {
					color: $color-accent-primary;
				}

				&.down {
					color: $color-warn-primary;
				}

				&.danger {
					color: $color-danger-primary;
				}
			}
		}
	}

	.browsers-list {
		padding: 0 15px;
		display: flex;
		align-content: stretch;

		.browser {
			flex: 0 0 33.33333%;
			padding: 30px;
			color: $white;
			background: $color-accent-primary;

			text-align: center;

			.percentage {
				font-size: 40px;
				font-weight: 900;

				i {
					display: inline-block;
					vertical-align: middle;
					font-size: 60px;
					margin-right: 20px;
				}
			}

			.name {
				margin-top: 10px;
				font-weight: $font-weight-bold;
				font-size: 30px;
			}

			&.chrome {
				background: #4caf50;
			}

			&.safari {
				background: #0088cc;
			}

			&.firefox {
				background: #e66000;
			}
		}
	}

	.user-infos {
		display: flex;
	}

	.user-infos-item {
		@extend .summary-item;
		width: 50%;

		.name {
			margin-bottom: 15px;
			color: $color-text-primary;
		}

		a {
			color: $color-accent-primary;
		}

		&.warn .number {
			background: $color-warn-primary;
		}
	}

	.graphs {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		padding: 0 15px;

		.column {
			flex: 0 0 calc(50% - 15px);

			.graph + .graph {
				margin-top: 30px;
			}
		}
	}

	.graph {
		flex: 0 0 calc(50% - 15px);
		padding: 40px 30px;
		background: $white;
		border: 1px solid $gray86;

		h2 {
			text-align: center;
			font-weight: $font-weight-bold;
		}

		.data {
			display: flex;
			align-items: center;
			margin-top: 40px;

			.name {
				width: 110px;
			}

			.line {
				height: 15px;
				background: $gray86;
				width: 100%;
				position: relative;

				&:after {
					content: attr(data-value);
					position: absolute;
						top: -5px;
						right: 0;

					transform: translate(0, -100%);

					color: $color-accent-primary;
					font-weight: $font-weight-bold;

				}

				.span {
					height: 100%;
					background: $color-accent-primary;
				}
			}
		}

		&.round {
			@import "../utils/_circle";
			min-height: 100%;

			.legend {
				margin-top: 40px;

				.legend-item {
					display: flex;
					//align-content: center;
					align-items: center;

					.color {
						width: 20px;
						height: 20px;
						background: $gray86;
						margin-right: 20px;
					}

					.name {
						font-size: 20px;
					}

					.value {
						margin-left: auto;
						font-weight: $font-weight-bold;
						font-size: 30px;
						color: $gray86;
					}

					&.highlight {
						.color {
							background: $color-accent-primary;
						}
						
						.value {
							color: $color-accent-primary;
						}
					}
				}
			}
		}
	}
}