

textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[role="combobox"] {
	display: inline-block;
	width: 100%;
	height: 35px;
	line-height: 35px;
	border: 2px solid transparent;

	padding: 0 10px;
	margin: 10px 0;

	&:focus {
		border: 2px solid $color-accent-primary;
		outline: none;
	}

	&.search-input {
		width: 200px;
		vertical-align: middle;
	}

	&.bordered{
		border: 2px solid $color-border-dark;
	}
}

textarea{
	height: 130px;
	line-height: 1.4em;
}

.button-search {
	height: 40px;
	line-height: 40px;

	padding: 0;
	width: 40px;

	border-radius: 5px;
	margin-left: 10px;

	i {
		margin-right: 0;
	}
}

.mce-tinymce {
	border: 2px solid transparent !important;

	&:focus {
		border: 2px solid $color-accent-primary !important;
	}
}

.color-preview {
	display: inline-block;
	width: 10px;
	height: 10px;
	vertical-align: middle;
	border: 1px solid #000;
	margin-right: 6px;
}

.field-description {
	display: block;
	margin-bottom: 10px;
	font-size: 12px;
}

.field-label {
	padding-top: 10px;
	font-weight: $font-weight-normal;
	text-align: right;

	label {
		display: block;
		position: relative;
		padding-right: 45px;
	}

	.lang-append {
		position: absolute;
			top: 50%;
			right: 0;

		transform: translate(0, -50%);
		font-style: normal;
		text-transform: uppercase;

		span {
			color: $color-accent-primary;
		}
	}
}

.checkbox-container {
	text-align: left;

	input {
		display: none;

		&:checked + label:after {
			display: block;
		}
	}

	&:nth-child(4n+1) {
		clear: left;
	}

	label {
		display: inline-block;
		position: relative;
		padding-left: 30px;
		cursor: pointer;
		font-weight: $font-weight-normal;
		line-height: 1.4;
		height: auto;
		text-align: left;

		margin: 10px 0;

		&:before {
			content: ' ';
			display: block;

			position: absolute;
				top: 2px;
				left: 0;

			width: 15px;
			height: 15px;
			background: $white;
			border: 1px solid $gray86;
		}

		&:after {
			font-family: 'FontAwesome';
			content: '\f00c';
			display: none;
			line-height: 1;
			font-size: 10px;
			color: $color-accent-primary;

			position: absolute;
				top: 50%;
				left: 2.5px;

			transform: translate(0, -50%);
		}
	}
}

.mce-tinymce {
	margin: 10px 0 !important;
}

.toggle-container {
	input[type="checkbox"] {
		display: none;

		&:checked + .toggle{
			background: $color-accent-primary;

			&:after {
				left: calc(100% - 25px);
			}

			&:before {
				content: attr(data-on-label);
				left: 7.5px;
			}
		}
	}
}

.toggle {
	cursor: pointer;

	position: relative;
	display: block;
	width: 0;
	height: 34px;

	padding: 0 35px;
	margin: 10px 0;

	border-radius: 22px;
	background: $color-danger-primary;
	border: 2px solid transparent;

	transition: background 0.2s;

	&:after {
		position: absolute;
			top: 5px;
			left: 5px;

		height: 20px;
		width: 20px;
		content: ' ';
		background: #fff;
		border-radius: 100%;

		transition: left 0.2s;
	}

	&:before {
		content: attr(data-off-label);
		color: $white;

		position: absolute;
			top: 0;
			right: 7.5px;

		line-height: 30px;
	}
}

.file-infos {
	font-style: italic;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 10px;

	a {
		display: block;
		margin-bottom: 5px;
	}
}

.file-input-section {
	display: inline-block;
	vertical-align: bottom;
	padding-bottom: 25px;

	[class|=button] + [class|=button] {
		margin-left: 10px;
	}
}

.file-input-input {
	display: inline-block;
	vertical-align: bottom;

	input.file-control {
		display:none;
		// max-width: 200px;
	}

	[class^=button] {
		margin-right: 10px
	}
}

.file-input-generic {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;

	.file-input-section {
		padding-bottom: 0;
	}
}

.bank-image-input-thumbnail {
	margin-bottom: 10px;
}