

.main-content > header {
	padding: 15px 25px;
	background: $gray96;
	position: absolute;
		top: 0;
		right: 0;
	width: calc(100% - #{$nav-width});
	height: $header-height;
	display: flex;
	align-content: flex-start;
	justify-content: space-between;
	transition: width 0.3s;

	> div {
		height: 30px;
		display: flex;
		align-self: center;
	}

	.logout {
		align-self: center;
		margin: 0 25px 0 30px;
		line-height: 30px;
	}

	.fcn {
		line-height: 30px;
	}

	.nav-toggler {
		@extend %base_button;
		@extend %round_button;
		border-radius: 4px;
		padding: 0 15px;

		i {
			margin:0;
		}
	}

	

	.loaded-records-toggler {
		line-height: 30px;
		padding: 0 10px;
		position: relative;
		cursor: pointer;
		font-size: 16px;

		&:not([data-num="0"]):after {
			position: absolute;
				top: -7px;
				right: -4px;
			content: attr(data-num);
			font-family: $font-family-base;
			font-weight: $font-weight-extrabold;
			color: $white;
			font-size: 11px;
			background: $color-accent-primary;
			padding: 4px 5px;
			height: auto;
			line-height: 11px;
			border-radius: 4px;
		}
	}

	.debug-fcn {
		button {
			margin: 0 5px;
		}
	}

}

.record-header, .module-header, .page-header {
	padding: 25px 40px;
	background: $color-background-light;
	border-top: 1px solid $gray86;
	border-bottom: 1px solid $gray86;
	margin-bottom: 60px;
	position: relative;
	width: 100%;

	&.module-header {
		margin-bottom:0;
	}

	font-size: 0;

	.texts, .btns {
		display: inline-block;
		vertical-align: middle;
		@extend %text_default;
	}

	.texts {
		width: calc(100% - 275px);
		padding-right: 30px;
	}

	.btns {
		width: 275px;
		padding-left: 30px;

		[class^=button] + [class^=button] {
			margin-left: 10px;
		}
	}
}


.prod-warning-label {
	background: rgb(172, 55, 55);
	height: 100%;
	line-height: 30px;
	padding: 0 50px;
	color: rgb(255, 241, 215);
	text-shadow: #FC0 1px 0 10px;
	font-weight: bold;
	@extend %round_button;
	@extend %text_default;
	border-radius: 4px;
	margin: 0 10px;
}