
header{
	
	padding: 16px;
	background: $lighter-bg;
	border-bottom: 1px $border-color solid;

	&#main-header{
		display:flex;
		justify-content: space-between;
	}

	.fcn{
		button {
			margin: 0 5px;
		}
	}

}