.hotspot-image-container {
	margin-top: 20px;
	position: relative;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;

	.hotspot {
		position: absolute;
		width: 30px;
		height: 30px;
		border: 1px solid #fff;
		transform: translate(-50%, -50%);
		cursor: pointer;
		transition: left 0.3s ease, top 0.3s ease;
		pointer-events: none;

		&:before, &:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 6px;
			height: 2px;
			background: #fff;
			transform: translate(-50%, -50%);
		}

		&:before {
			transform: translate(-50%, -50%) rotate(90deg);
		}
	}

	img {
		max-width: 100%;
		pointer-events: none;
	}
}