
.padded-content {
	width: 1200 / 1655 * 100%;
	margin-left: auto;
	margin-right: auto;
	//padding: 0 150px;
}

.search-ctn {
	text-align: right;
}

.list-records {
	width: 100%;
	margin-top: 20px;

	th, td {
		text-align: left;
		border-bottom: 1px solid $gray86;
		border-top: 1px solid $gray86;
		background: $white;

		&:first-child {
			border-left: 1px solid $gray86;
		}

		&:last-child {
			border-right: 1px solid $gray86;
		}
	}

	th {
		padding: 10px 20px;
	}

	td {
		padding: 20px;
		vertical-align: middle;
	}

	.interactions {
		width: 200px;
		text-align: left;
		@include clearfix();

		.record-actions {
			position: relative;
			margin-bottom: 5px;

			.record-action-control {
				cursor: pointer;
				padding: 5px 0px;
			}

			.record-actions-group {
				display: none;
				background: $color-background-main;
				padding: 5px 10px;

				position: absolute;
					top: 40px;
					left: 0;

				width: 130px;

				&:before {
					content: ' ';
					
					position: absolute;
						top: 0;
						left: 15%;

					transform: translate(-50%, -100%);
					@include triangle((
						width: 10px,
						color: $color-background-main,
						side: 'top'
					));
				}
			}

			.record-action {
				display: block;
				padding: 5px 0px;

				text-decoration: none;
				color: $color-text-primary;
				cursor: pointer;

				i {
					margin-right: 10px;
				}

				&.prompt {
					background: darken($color-background-main, 10%);
					margin: 10px -10px;
					padding: 10px;
				}
			}

			&.active {
				z-index: 2;

				.record-actions-group {
					display: block;
				}
			}
		}

		.orders, .actions {
			display: inline-block;
			vertical-align: middle;
		}

		.orders {
			margin-left: 62px;

			a {
				color: $color-accent-primary;
				display: block;
				text-align: center;
				cursor: pointer;

				& + a {
					margin-top: 20px
				}

				&:hover {
					text-decoration: none;
				}
			}
		}

		[data-info-tooltip] {
			position: relative;
			display: inline-block;

			a {
				cursor: pointer;
				text-decoration: underline;
				color: $color-text-primary;
				font-size: 12px;
			}
		}

		.tooltip {
			$bgColor: rgba(darken($color-background-dark, 10%), 0.9);
			
			display: none;
			background: $bgColor;
			color: $white;
			padding: 10px;
			border-radius: 5px;

			width: 200px;

			position: absolute;
				top: -10px;
				left: 50%;

			transform: translate(-50%, -100%);

			&:after {
				display: block;
				content: ' ';

				position: absolute;
					bottom: 0;
					left: 50%;

				transform: translate(-50%, 100%);
					
				@include triangle((
					width: 10px,
					color: $bgColor,
					side: 'bottom'
				));
			}

			&.shown {
				display: block;
			}
		}
	}

	@for $i from 1 through 5 {
		tr.level-#{$i} {
			td:first-child {
				padding-left: 20px * $i;
			}
		}
	}

	@include at-most(1736px) {
		.list-functions {
			[class^=button] {
				display: block;
				width: 100%;
				text-align: center;

				& + [class^=button] {
					margin-left: 0;
					margin-top: 10px;
				}
			}
		}
	}

	@include at-most(1150px) {
		.interactions .orders [class^=button] {
			display: block;
			& + [class^=button] {
				margin-top: 10px;
				margin-left: 0;
			}
		}
	}


	@include at-most($screen-sm-max) {
		tr:nth-of-type(2n) {
			td {
				background: $gray97;

				&.interactions {
					background: $color-background-dark;
				}
			}
		}

		td {
			vertical-align: top;
			padding: 0;
		}

		.mobile-cell {
			padding: 20px 20px 20px 50%;
			position: relative;
			border-bottom: 1px solid $gray86;

			&:after {
				position: absolute;
					top: 20px;
					left: 20px;
			
				width: 40%;
				display: block;
				content: attr(data-field-label);
				font-weight: $font-weight-bold;
			}
		}

		.interactions {
			padding: 20px;
			width: 250px;

			.list-functions {
				margin: 30px 0;
			}

			.orders {
				text-align: center;

				[class^=button] {
					display: inline-block;

					+ [class^=button] {
						margin-top: 0;
						margin-left: 20px;
					}
				}
			}
		}

	}
}