.search-results-infos {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-results-num {
	font-size: 18px;
	text-align: left;
	padding-right: 40px;
}

.search-inputs-ctn {
	display: flex;
	align-items: center;

	input {
		margin-bottom: 0;
	}
}

.button-search {
	height: 40px;
	line-height: 40px;

	padding: 0;
	width: 40px;

	border-radius: 5px;
	margin-left: 10px;

	i {
		margin-right: 0;
	}
	
	&.clear {
		background: $color-danger-primary;
	}
}