
.freestone-logo {
	width: 100%;
	height: 400px;
	max-height: 66vh;
	background: $blue26 url(../assets/img/freestone-logo.png) center center no-repeat;
	background-size: auto 295px;
}

.login-zone {
	background: $color-background-main;
	padding: 60px;

	.checkbox-container {
		text-align: left;
	}

	[class|=button] {
		margin: 10px 0;
	}
}