
$level-left-pad: 10px;

@mixin menu-level($level) {
	a {
		padding-left: $level-left-pad * $level;
	}

	@if $level > 1 {
		
		border-left: 0px solid transparent;

		&.active{
			border-left: 4px solid darken($color-emphasis, ($level - 1) * 10);
			margin-bottom: 2px;
			background: darken($nav-bg, ($level - 1) * 2);
		}
	}

	&.active > ul {
		// border-bottom: 1px solid darken($nav-bg, ($level - 1) * 5);
		// border-top: 1px solid darken($nav-bg, ($level - 1) * 5);
		background: darken($nav-bg, ($level - 1) * 3);

	}

	@if $level < 4 {
		li {
			@include menu-level($level + 1);
		}
	}
}

.navbar-default{
	position:absolute;
	z-index:2001;
	top:0;
	left:0;
	width: $sidebar-width;
	background-color: $nav-bg;
	text-align:left;
	min-height:100%;
	padding-bottom:100px;

	ul {

		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
		overflow:hidden;

		&.collapsed {
			display:none;
		}

		li {
			transition: border-color 0.3s, border-width 0.3s;

			a{
				display:block;
				position:relative;
				color: $nav-text-color;
				padding-top: 6px;
				padding-bottom: 6px;
				font-size: 12px;
				cursor: pointer;

				transition: color 0.3s;


				i {
					margin-right: 6px;
					width: 16px;
				}

				&.table-group{
					padding-top: 14px;
					padding-bottom: 14px;
					font-size: 14px;
					font-weight: 600;

					&.active{
						color: white;
					}

				}
			}
			
			> a:hover, > a:focus{
				background-color: darken($nav-bg, 3%);
				text-decoration:none;
			}
				
			.nrecords {
				float: right;
				font-weight: 600;
			    padding: 0 4px;
			    background-color: $nav-badge-color;
			    font-size:11px;
			    line-height: 16px;
			    color: #FFFFFF;
			    border-radius: 8px;
			    margin-right: 8px;
			}

			@include menu-level(1);

		}
	}
}