
.root-form {
	> header {
		padding: 25px 40px;
		background: $color-background-light;
		border-top: 1px solid $gray86;
		border-bottom: 1px solid $gray86;
	}
}


.single-record {
	padding: 0 40px;
}
