
.root-form {
	position: relative;


	// > .single-record {
	// 	width: 1500 / 1655 * 100%;
	// 	margin-left: auto;
	// 	margin-right: auto;
	// }

	// @include at-most($screen-md-max) {
	// 	> .single-record {
	// 		width: 90%;
	// 	}
	// }
}

.mtm-group {
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1px solid rgba(0,0,0,0.05);

	&:first-child {
		border-top: none;
	}
}

.mtm-category {
	text-align: left;
	margin: 0 0 10px;
	padding-right: 30px + $grid-gutter-width / 2;
	span {
		font-size: 0.6em;
		font-weight: normal;
	}
}
