
.root-form {
	position: relative;
	overflow: hidden;

	> header {
		padding: 25px 40px;
		background: $color-background-light;
		border-top: 1px solid $gray86;
		border-bottom: 1px solid $gray86;
		margin-bottom: 60px;
		position: relative;
		width: 100%;

		font-size: 0;

		.texts, .btns {
			display: inline-block;
			vertical-align: middle;
			@extend %text_default;
		}

		.texts {
			width: calc(100% - 275px);
			padding-right: 30px;
		}

		.last-modif-date {
			margin-top: 20px;
			font-weight: $font-weight-light;
		}

		.table-help {
			margin-top: 10px;
		}

		.btns {
			width: 275px;
			padding-left: 30px;

			[class^=button] + [class^=button] {
				margin-left: 10px;
			}
		}

		.lang-toggler {
			position: absolute;
				bottom: 0;
				right: 30px;

			transform: translate(0, 100%);

			@extend %text_default;
			font-weight: $font-weight-bold;
			text-transform: uppercase;

			.language-tab {
				cursor: pointer;
				display: inline-block;
				vertical-align: middle;

				color: $color-accent-primary;
				background: $white;

				height: 30px;
				line-height: 30px;

				padding: 0 20px;
				border: 1px solid $color-accent-primary;

				transition: background 0.3s, color 0.3s;

				&:first-child {
					border-radius: 0 0 0 10px;
					border-right: 0;
				}

				&:last-child {
					border-radius: 0 0 10px 0;
					border-left: 0;
				}

				&:hover, &.active {
					background: $color-accent-primary;
					color: $white;
				}
			}
		}
	}

	> .single-record {
		padding: 0 150px;
	}
}

.mtm-category {
	text-align: right;
	margin: 20px 0 10px;
	padding-right: 30px + $grid-gutter-width / 2;
}
