
%title {
	line-height: 1;
	margin: 0;
	font-family: $font-family-title;
	text-transform: none;
	font-weight: $font-weight-light;
}

%title1 {
	@extend %title;
	margin-bottom: 10px;
}

%title2 {
	@extend %title;
	margin-bottom: 40px;
	//font-size: 100px;
}

%title3 {
	@extend %title;
	font-size: 18px;
	font-weight: $font-weight-extrabold;
}

%text_default {
	font-size: 14px;
}


body {
	color: $color-text-primary;
	@extend %text_default;
}

h1 {
	@extend %title1;
}

h2 {
	@extend %title2;
}

h3 {
	@extend %title3;
}

em {
	font-style: italic;
}

a {
	cursor: pointer;
}

strong {
	font-weight: $font-weight-semibold;
}


ul, ol, li {
	@extend %text_default;
}


iframe {
	border:0;
}