%text_default {
	font-family: $font-family-text;
	font-size: $font-size-text-md;
	color: $color-text-primary;
	line-height: 1.4;
	font-style: normal;
}

%text_cta {
	@extend %text_default;
	font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 14px;
}

h5 {
	font-size: 12px;
}

h6 {
	font-size: 10px;
}

h3, h4, h5 {
	margin-top: 5px;
	font-weight: 600;
}



a{
	cursor:pointer;
	color: $nav-text-color;
	font-weight: 400;
	
	&:hover{
		text-decoration:none;
	}
}