

$screen-lg: 1301px;
$screen-md-max: 1300px;


//==============================================================================
// COLOR DEFS
//==============================================================================
	$gray31: #4a4a4a;
	$gray43: #62666c;
	$gray51: #79797a;
	$gray76: #bababb;
	$gray90: #e1e1e1;
	$gray96: #f3f3f3;

	$teal62: #19aa8d;

	$blue66: #00aeef;
	$blue54: #028cc0;
	$blue26: #2f4050;
	$blue23: #293846;

	$white: #fff;
	$black: #000;


//==============================================================================
// COLOR USAGE
//==============================================================================
	$color-accent-primary: $teal62;
	$color-accent-secondary: $teal62;

	$color-background-light: $white;
	$color-background-dark: $blue26;
	$color-background-dark_hover: $blue23;

	$color-border-dark: $blue23;

	$color-text-primary: $black;
	$color-text-secondary: $white;


//==============================================================================
// TEXTS
//==============================================================================
	$font-family-base: 'Open Sans', Helvetica, Arial, sans;
	$font-family-title: $font-family-base;

	$font-weight-light: 300;
	$font-weight-normal: 400;
	$font-weight-medium: 500;
	$font-weight-semibold: 600;
	$font-weight-bold: 700;
	$font-weight-extrabold: 800;

	$font-size-text-lg: 16px;
	$font-size-text-md: 16px;
	$font-size-text-sm: 16px;
	$font-size-text-xs: 16px;

	$font-size-title1-lg: 60px;
	$font-size-title1-md: 60px;
	$font-size-title1-sm: 40px;
	$font-size-title1-xs: 40px;

	$font-size-title2-lg: 24px;
	$font-size-title2-md: 24px;
	$font-size-title2-sm: 24px;
	$font-size-title2-xs: 24px;

	$font-size-title3-lg: 30px;
	$font-size-title3-md: 30px;
	$font-size-title3-sm: 20px;
	$font-size-title3-xs: 20px;

	$font-size-top-menu-md: 18px;
