

$screen-lg: 1301px;
$screen-md-max: 1300px;

$header-height: 60px;
$nav-width: 250px;
$records-width: 350px;


//==============================================================================
// COLOR DEFS
//==============================================================================
	$gray31: #4a4a4a;
	$gray43: #62666c;
	$gray45: #686b6c;
	$gray51: #79797a;
	$gray76: #bababb;
	$gray86: #d4d8d9;
	$gray90: #e1e1e1;
	$gray93: #e7eaec;
	$gray96: #f3f3f3;
	$gray97: #f6f6f6;

	$teal62: #19aa8d;

	$yellow76: #f8ac59;

	$red58: #ed5565;

	$blue66: #00aeef;
	$blue54: #028cc0;
	$blue37: #4b5863;
	$blue26: #2f4050;
	$blue23: #293846;

	$white: #fff;
	$black: #000;


//==============================================================================
// COLOR USAGE
//==============================================================================
	$color-accent-primary: $teal62;
	$color-accent-secondary: $teal62;

	$color-warn-primary: $yellow76;
	$color-danger-primary: $red58;

	$color-background-light: $white;
	$color-background-main: $gray93;
	$color-background-dark: $blue26;
	$color-background-dark_hover: $blue23;

	$color-border-dark: $blue23;
	$color-border-light: $gray93;

	$color-text-primary: $gray45;
	$color-text-secondary: $white;


//==============================================================================
// TEXTS
//==============================================================================
	$font-family-base: 'Open Sans', Helvetica, Arial, sans;
	$font-family-title: $font-family-base;

	$font-weight-light: 300;
	$font-weight-normal: 400;
	$font-weight-medium: 500;
	$font-weight-semibold: 600;
	$font-weight-bold: 700;
	$font-weight-extrabold: 800;

	$font-size-text-lg: 16px;
	$font-size-text-md: 16px;
	$font-size-text-sm: 16px;
	$font-size-text-xs: 16px;

	$font-size-title1-lg: 60px;
	$font-size-title1-md: 60px;
	$font-size-title1-sm: 40px;
	$font-size-title1-xs: 40px;

	$font-size-title2-lg: 24px;
	$font-size-title2-md: 24px;
	$font-size-title2-sm: 24px;
	$font-size-title2-xs: 24px;

	$font-size-title3-lg: 18px;
	$font-size-title3-md: 18px;
	$font-size-title3-sm: 18px;
	$font-size-title3-xs: 18px;

	$font-size-top-menu-md: 18px;
