
html, body {
    // height: 100%;
}

body {
	@extend %text_default;
}

#main-wrapper{
	width:100%;
	overflow-x:hidden;
	background: $body-bg;
}

.main-content{
	position:relative;
	padding-left: $sidebar-width;

}

.padded-content{
	padding: $default-padding;
}