

body {
	overflow-x: hidden;
	background: $color-background-main;
}

.half-content {
	width: 50%;
	position:relative;
	overflow: hidden;
}

.main-content {
	padding-top: $header-height;
	padding-left: $nav-width;
	background: $color-background-main;

	transition: padding 0.3s;
}